doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    script(type="text/javascript" src="//api.filepicker.io/v2/filepicker.js")
  body
    block content
    script(src='/javascripts/build/app.js')
